.ColorBox {
	width: 20%;
	height: 25%;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-bottom: -4px;
}

.singleMode {
	height: 50%;
}

.CopyButton {
	width: 100px;
	height: 30px;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -15px;
	text-align: center;
	outline: none;
	border: none;
	text-transform: uppercase;
	font-size: 1rem;
	background-color: rgba(255, 255, 255, 0.3);
	line-height: 30px;
	color: white;
	opacity: 0;
}

.goBack .CopyButton {
	opacity: 1;
}

.goBack {
	background-color: black;
	height: 50%;
}

.ColorBox:hover .CopyButton {
	opacity: 1;
	transition: 0.5s;
}

.BoxContent {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
}

.More {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	text-transform: uppercase;
	width: 60px;
	height: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
}

.CopyOverlay {
	opacity: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.6s ease-in-out;
	transform: scale(0.1);
}

.CopyOverlay.show {
	opacity: 1;
	transform: scale(10);
	z-index: 10;
	position: absolute;
}

.CopyMsg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3.5rem;
	transform: scale(0.1);
	opacity: 0;
	color: white;
	text-transform: uppercase;
}

.CopyMsg.show {
	opacity: 1;
	transform: scale(1);
	z-index: 11;
	transition: all 0.4s ease-in-out;
	transition-delay: 0.2s;
}

.CopyMsg h1 {
	font-weight: 400;
	text-shadow: 1px 2px black;
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	padding: 1rem;
}

.CopyMsg p {
	font-weight: 100;
	font-size: 2rem;
	margin-top: 20px;
}
