.Navbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 9vh;
}

.Logo {
	margin-right: 15px;
	padding: 0 13px;
	font-size: 22px;
	background-color: #eceff1;
	height: 100%;
	display: flex;
	align-items: center;
}

.Logo a {
	text-decoration: none;
	color: black;
}

.Slider {
	width: 340px;
	margin: 0px 10px;
	display: inline-block;
}

.SelectContainer {
	margin-left: auto;
	margin-right: 1rem;
}
