.root {
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.root:hover {
  cursor: pointer;
}

.colors {
  background-color: #dae1e4;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: -4.3px;
}

.boxy {
  height: 25%;
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: -4.3px;
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .boxy {
      height: 25%;
      width: 20%;
      display: inline-block;
      margin: 0 auto;
      position: relative;
      margin-bottom: -10px;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: black;
  padding-top: 0.5rem;
  font-size: 1rem;
  position: relative;
}

.emoji {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.deleteIcon {
  color: white;
  background-color: #eb3d30;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 10;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.root:hover .deleteIcon {
  opacity: 1;
}
